Repository hectorlozgo/express-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --bail --findRelatedTests

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write", "jest --bail --findRelatedTests"],
  "*.{json,css,scss,md}": ["prettier --write"]
}

refactor(pre-commit): remove jest to precommit, execute only in pre-push
  .husky/pre-commit
Due: none

feat(docker): add Docker setup
  .dockerignore
  Dockerfile
  README.md
  docker-compose.yaml
Due: prettier --write

feat(env): support 'test' NODE_ENV; test: integration routes
  src/config/env.ts
  src/utils/endpoints.spec.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

feat: add utility function to get formatted current timestamp
  package.json
  pnpm-lock.yaml
  src/utils/timestamp.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

feat(logging): implement log persistence and enhance logger functionality
  README.md
  package.json
  src/middlewares/logger.ts
  src/middlewares/rateLimit.ts
  src/utils/logs.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests

feat(logs): implement logs cleanup functionality
  .env.example
  .husky/pre-push
  src/config/env.ts
  src/index.ts
  src/utils/logs.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests
